openapi: 3.1.0
info:
  title: Nooks Sequencing API
  version: 0.1.0
  description: |
    The Nooks Sequencing API provides programmatic access to manage sequences, tasks, templates, and prospect engagement workflows created using the Nooks SEP.

    ## Authentication

    Send a bearer token in the `Authorization` header:
    ```
    Authorization: Bearer <token>
    ```

    Two token types are accepted on the same header — the API detects which
    format you sent and validates accordingly. If you already have a token,
    paste it into the Authentication panel and skip the flow setup.

    ### API keys

    Long-lived, workspace-scoped. Best for backend integrations and
    server-to-server automation. Generate one from **Developer Settings →
    API Keys** in your Nooks workspace. API keys are prefixed `nooks-api-`
    and have full read/write access within the owning workspace.

    ### OAuth 2.0 access tokens

    Short-lived (1 hour), user-scoped, scope-limited JWTs issued by
    `https://oauth.nooks.in` via the standard authorization-code + PKCE flow.
    Best for third-party apps acting on behalf of a specific user — the token
    carries that user's identity and a subset of scopes the user consented
    to. Refresh tokens rotate every 90 days and are invalidated on first
    re-use (refresh-token reuse detection).

    **Endpoints:**

    - Authorize: `https://oauth.nooks.in/oauth/authorize`
    - Token: `https://oauth.nooks.in/oauth/token`
    - JWKS: `https://oauth.nooks.in/.well-known/jwks.json`
    - Server metadata (RFC 8414): `https://oauth.nooks.in/.well-known/oauth-authorization-server`

    **Available scopes:**

    | Scope | Grants |
    | --- | --- |
    | `prospects:read` | View your prospects |
    | `prospects:write` | Create and update prospects |
    | `sequences:read` | View your sequences |
    | `sequences:write` | Create and update sequences |
    | `sequence-steps:read` | View sequence steps |
    | `sequence-states:read` | View sequence enrollments |
    | `sequence-states:write` | Enroll prospects and manage enrollments |
    | `tasks:read` | View your tasks |
    | `tasks:write` | Create, update, complete, skip, and delete tasks |
    | `calls:read` | View your calls |
    | `calls:write` | Create and update calls |
    | `call-dispositions:read` | View call dispositions |
    | `emails:read` | View your emails |
    | `emails:write` | Create and update emails |
    | `mailboxes:read` | View connected mailboxes |
    | `users:read` | View users in your workspace |
    | `accounts:read` | View accounts (companies) in your workspace |
    | `notes:write` | Create notes on CRM-backed prospects and accounts |
    | `opportunities:read` | View opportunities (deals) in your workspace |
    | `search:read` | Search across your prospects, accounts, and other records |

    ## Rate Limiting
    API requests are rate limited per workspace and per endpoint in a fixed
    one-minute window. Separate endpoint buckets do not share quota, except
    routes without an explicit limit use the shared default bucket.

    Every response includes these headers:
    - `X-RateLimit-Limit` -- maximum requests allowed in the current per-minute window
    - `X-RateLimit-Remaining` -- requests remaining in the current window
    - `X-RateLimit-Reset` -- seconds until the current window resets

    When the limit is exceeded the API returns `429 Too Many Requests` with a
    `Retry-After` header indicating how many seconds to wait before retrying.

    **Current limits:**

    | Endpoint class | Methods | Limit |
    | --- | --- | --- |
    | List reads: `/sequences`, `/emails`, `/users`, `/sequenceStates`, `/prospects`, `/mailboxes`, `/calls`, `/sequenceSteps`, `/callDispositions`, `/tasks`, `/accounts` | `GET` | 300 requests/minute per endpoint |
    | Read by ID: `/sequences/{id}`, `/emails/{id}`, `/users/{id}`, `/sequenceStates/{id}`, `/prospects/{id}`, `/mailboxes/{id}`, `/calls/{id}`, `/sequenceSteps/{id}`, `/callDispositions/{id}`, `/tasks/{id}`, `/accounts/{id}`, `/emailTemplate/{id}` | `GET` | 600 requests/minute per endpoint |
    | Sequence writes: `/sequences`, `/sequences/{id}` | `POST`, `PATCH` | 120 requests/minute per endpoint |
    | Sequence state writes: `/sequenceStates`, `/sequenceStates/{id}`, `/sequenceStates/{id}/actions/finish` | `POST`, `DELETE` | 120 requests/minute per endpoint |
    | Task writes: `/tasks`, `/tasks/{id}`, `/tasks/{id}/complete`, `/tasks/{id}/skip` | `POST`, `PATCH`, `DELETE` | 120 requests/minute per endpoint |
    | CRM note writes: `/prospects/{id}/notes`, `/accounts/{id}/notes` | `POST` | 30 requests/minute per endpoint |
    | `/integrations/prospects/sync` | `POST` | 10 requests/minute |
    | Any other endpoint | Any | 30 requests/minute, shared default bucket |

    ## Pagination
    List endpoints support cursor-based pagination using the `page[size]` and `page[after]`/`page[before]` query parameters.
    - Maximum page size: 100
    - Default page size: 50

    ## Include (Inline Expansion)
    Most GET endpoints support an `include` query parameter that expands related `ReferenceObject` fields inline,
    eliminating the need for follow-up API calls.

    **Format:** `?include=field1,field2` (comma-separated field names)

    **Without include:**
    ```json
    GET /v1/prospects/123

    {
      "id": "123",
      "sequenceStates": [
        { "id": "ss-1", "_href": "/v1/sequenceStates/ss-1" }
      ]
    }
    ```

    **With `include=sequenceStates`:**
    ```json
    GET /v1/prospects/123?include=sequenceStates

    {
      "id": "123",
      "sequenceStates": [
        {
          "id": "ss-1",
          "_href": "/v1/sequenceStates/ss-1",
          "state": "active",
          "sequence": { "id": "seq-1", "_href": "/v1/sequences/seq-1" },
          "prospect": { "id": "123", "_href": "/v1/prospects/123" },
          "creator": { "id": "u-1", "_href": "/v1/users/u-1" },
          "sequenceStep": null,
          "createdAt": "2024-01-01T00:00:00Z",
          "updatedAt": "2024-01-01T00:00:00Z"
        }
      ]
    }
    ```

    The expanded object is a superset of `ReferenceObject` — it keeps `id` and `_href` and adds all DTO fields.
    The response shape is unchanged; the field just contains richer data.

    **Hard constraints (enforced with 400 errors):**
    - **Max 3 includes per request.** Requesting more than 3 comma-separated values returns `400: "include accepts at most 3 values"`.
    - **GET endpoints only.** POST, PATCH, and DELETE endpoints do not accept `include`.
    - **No nested includes.** Only top-level field names are valid (e.g., `sequenceStates`). Dot-notation like `sequenceStates.prospect` returns 400.
    - **`account` on Prospect is not includable.** Requesting `include=account` returns 400.

    Each endpoint's `include` parameter lists the valid field names for that resource.

  contact:
    name: Nooks API Support
    email: support@nooks.in
    url: https://www.nooks.in
  license:
    name: Proprietary
  x-logo:
    url: ./nooks-logo.svg
    altText: Nooks Logo
    href: https://www.nooks.ai

servers:
  - url: https://partner-api.nooks.in/v1
    description: Production API

tags:
  - name: Sequences
    description: Manage sales sequences
  - name: Emails
    description: Access email records
  - name: Users
    description: Manage workspace users
  - name: SequenceStates
    description: Track prospect enrollments in sequences
  - name: Prospects
    description: Manage prospects
  - name: Accounts
    description: Access account (company) records
  - name: Notes
    description: Create CRM notes on prospects and accounts
  - name: Mailboxes
    description: Manage mailboxes (email aliases)
  - name: SequenceSteps
    description: Access sequence step definitions
  - name: Calls
    description: Access call records
  - name: CallDispositions
    description: Access call disposition definitions
  - name: Tasks
    description: Manage tasks (one-off calls and email activities)
  - name: EmailTemplates
    description: Access email template content
  - name: Introspection
    description: Inspect the authenticated principal

x-tagGroups:
  - name: API Reference
    tags:
      - Sequences
      - SequenceSteps
      - Emails
      - Users
      - SequenceStates
      - Prospects
      - Accounts
      - Notes
      - Mailboxes
      - Calls
      - CallDispositions
      - Tasks
      - EmailTemplates
      - Introspection

paths:
  /sequences:
    get:
      operationId: listSequences
      summary: List sequences
      description: |
        Returns a paginated list of sequences.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequences?filter[name]=Q1+Outbound+Campaign' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        With include:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequences?include=owner,sequenceSteps' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Sequences
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageAfter"
        - $ref: "#/components/parameters/PageBefore"
        - name: filter[name]
          in: query
          description: Filter sequences by exact name match
          required: false
          schema:
            type: string
          example: "Q1 Outbound Campaign"
        - name: filter[type]
          in: query
          description: "Filter by sequence type. Valid values: date, interval"
          required: false
          schema:
            type: string
            enum:
              - date
              - interval
          example: "interval"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline (`owner`, `sequenceSteps`) or computed fields to include (`analytics`). Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [owner, sequenceSteps, analytics]
            maxItems: 3
          style: form
          explode: false
          example: [owner, sequenceSteps]
        - $ref: "#/components/parameters/FilterUpdatedAtGte"
        - $ref: "#/components/parameters/FilterUpdatedAtLt"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Sequence"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
              example:
                data:
                  - id: "550e8400-e29b-41d4-a716-446655440000"
                    name: "Q1 Outbound Campaign"
                    type: "interval"
                    enabled: true
                    owner:
                      id: "660e8400-e29b-41d4-a716-446655440001"
                      _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                    sequenceSteps:
                      - id: "aa0e8400-e29b-41d4-a716-446655440030"
                        _href: "/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440030"
                      - id: "aa0e8400-e29b-41d4-a716-446655440031"
                        _href: "/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440031"
                    privacy: "team_editable"
                    createdAt: "2026-01-12T09:30:00Z"
                    updatedAt: "2026-01-15T09:30:00Z"
                  - id: "660e8400-e29b-41d4-a716-446655440002"
                    name: "Q2 Follow-up Sequence"
                    type: "date"
                    enabled: false
                    owner:
                      id: "660e8400-e29b-41d4-a716-446655440001"
                      _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                    sequenceSteps: []
                    privacy: "private"
                    createdAt: "2026-01-08T14:00:00Z"
                    updatedAt: "2026-01-10T14:00:00Z"
                links:
                  first: "https://partner-api.nooks.in/v1/sequences?page[size]=50"
                  prev: null
                  next: "https://partner-api.nooks.in/v1/sequences?page[size]=50&page[after]=eyJpZCI6IjY2MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMiIsInYiOjF9"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createSequence
      summary: Create a sequence
      description: |
        Creates a new, empty sequence owned by the given user. Steps are
        added and edited in the Nooks app — this endpoint creates the
        sequence container (name, type, owner, privacy).

        OAuth callers with the `user` role can only create sequences owned
        by themselves; `admin` and `manager` roles can create sequences for
        any user in the workspace. When that check fails (or `owner.id` is
        not a workspace member), OAuth callers receive `403
        INSUFFICIENT_PERMISSION`; API-key callers receive `422` for an
        unknown owner. To enroll prospects into the new sequence, use
        `POST /v1/sequenceStates`.

        Example:
        ```bash
        curl -X POST 'https://partner-api.nooks.in/v1/sequences' \
          -H "Authorization: Bearer nooks-api-..." \
          -H "Content-Type: application/json" \
          -d '{
            "data": {
              "name": "Q3 Outbound Campaign",
              "owner": { "id": "KKLvN5wQoghWFwUvC75CZ12QM7I3" }
            }
          }'
        ```
      tags:
        - Sequences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for creating a sequence
              additionalProperties: false
              properties:
                data:
                  type: object
                  additionalProperties: false
                  properties:
                    name:
                      type: string
                      minLength: 1
                      description: Name of the sequence
                      example: "Q3 Outbound Campaign"
                    type:
                      type: string
                      enum:
                        - interval
                        - date
                      default: "interval"
                      description: |
                        Scheduling model for the sequence. `interval` steps are
                        spaced relative to the previous step; `date` steps run
                        on fixed dates.
                      example: "interval"
                    owner:
                      type: object
                      description: The user who will own the sequence
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          minLength: 1
                          maxLength: 128
                          pattern: "^[A-Za-z0-9_-]{1,128}$"
                          description: ID of the owner user (Firebase UID)
                          example: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
                      required:
                        - id
                    enabled:
                      type: boolean
                      default: true
                      description: Whether the sequence is active (`false` = archived)
                      example: true
                    privacy:
                      type: string
                      enum:
                        - private
                        - team_visible
                        - team_editable
                      default: "team_editable"
                      description: Privacy level of the sequence
                      example: "team_editable"
                  required:
                    - name
                    - owner
              required:
                - data
      responses:
        "201":
          description: Sequence created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sequence"
              example:
                id: "550e8400-e29b-41d4-a716-446655440000"
                name: "Q3 Outbound Campaign"
                type: "interval"
                enabled: true
                owner:
                  id: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
                  _href: "/v1/users/KKLvN5wQoghWFwUvC75CZ12QM7I3"
                sequenceSteps: []
                privacy: "team_editable"
                createdAt: "2026-01-12T09:30:00Z"
                updatedAt: "2026-01-15T09:30:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            Forbidden — the OAuth token lacks the `sequences:write` scope
            (`INSUFFICIENT_SCOPE`), or the caller's role does not permit
            acting on this sequence or owner (`INSUFFICIENT_PERMISSION`).
            API-key callers are not subject to this check.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "INSUFFICIENT_PERMISSION"
                  message: "You do not have permission to perform this action"
        "422":
          description: |
            Unprocessable entity — `owner.id` is not a user in this workspace
            (use an id from `GET /v1/users`). Only returned to API-key
            callers; OAuth callers instead receive `403
            INSUFFICIENT_PERMISSION` for an unknown owner (see above).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "UNPROCESSABLE_ENTITY"
                  message: "Owner user KKLvN5wQoghWFwUvC75CZ12QM7I3 not found in this workspace. Use a user id from GET /v1/users."
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /sequences/{id}:
    get:
      operationId: getSequence
      summary: Get sequence by ID
      description: |
        Returns a single sequence by its unique identifier.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequences/550e8400-e29b-41d4-a716-446655440000' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        With include:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequences/550e8400-e29b-41d4-a716-446655440000?include=owner' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Sequences
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the sequence
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline (`owner`, `sequenceSteps`) or computed fields to include (`analytics`). Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [owner, sequenceSteps, analytics]
            maxItems: 3
          style: form
          explode: false
          example: [analytics]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sequence"
              example:
                id: "550e8400-e29b-41d4-a716-446655440000"
                name: "Q1 Outbound Campaign"
                type: "interval"
                enabled: true
                owner:
                  id: "660e8400-e29b-41d4-a716-446655440001"
                  _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                sequenceSteps:
                  - id: "aa0e8400-e29b-41d4-a716-446655440030"
                    _href: "/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440030"
                  - id: "aa0e8400-e29b-41d4-a716-446655440031"
                    _href: "/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440031"
                privacy: "team_editable"
                analytics:
                  email:
                    delivered: 412
                    opened: 198
                    clicked: 41
                    replied: 23
                    bounced: 7
                    unsubscribed: 2
                  calls:
                    dialed: 380
                    connected: 71
                    meetings: 5
                  linkedIn: null
                createdAt: "2026-01-12T09:30:00Z"
                updatedAt: "2026-01-15T09:30:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      operationId: updateSequence
      summary: Update a sequence
      description: |
        Updates a sequence's name and/or `enabled` flag. Setting `enabled`
        to `false` archives the sequence; `true` reactivates it. At least
        one field must be provided.

        OAuth callers with the `user` role can only update sequences they
        own (`403 INSUFFICIENT_PERMISSION` otherwise); `admin` and `manager`
        roles can update any sequence in the workspace.

        Example:
        ```bash
        curl -X PATCH 'https://partner-api.nooks.in/v1/sequences/550e8400-e29b-41d4-a716-446655440000' \
          -H "Authorization: Bearer nooks-api-..." \
          -H "Content-Type: application/json" \
          -d '{ "data": { "name": "Q3 Outbound Campaign (paused)", "enabled": false } }'
        ```
      tags:
        - Sequences
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the sequence
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for updating a sequence
              additionalProperties: false
              properties:
                data:
                  type: object
                  minProperties: 1
                  additionalProperties: false
                  description: At least one of `name` or `enabled` is required.
                  properties:
                    name:
                      type: string
                      minLength: 1
                      description: New name for the sequence
                      example: "Q3 Outbound Campaign (paused)"
                    enabled:
                      type: boolean
                      description: Whether the sequence is active (`false` = archived)
                      example: false
              required:
                - data
      responses:
        "200":
          description: Sequence updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sequence"
              example:
                id: "550e8400-e29b-41d4-a716-446655440000"
                name: "Q3 Outbound Campaign (paused)"
                type: "interval"
                enabled: false
                owner:
                  id: "660e8400-e29b-41d4-a716-446655440001"
                  _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                sequenceSteps:
                  - id: "aa0e8400-e29b-41d4-a716-446655440030"
                    _href: "/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440030"
                privacy: "team_editable"
                createdAt: "2026-01-12T09:30:00Z"
                updatedAt: "2026-01-15T09:30:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            Forbidden — the OAuth token lacks the `sequences:write` scope
            (`INSUFFICIENT_SCOPE`), or the caller's role does not permit
            acting on this sequence or owner (`INSUFFICIENT_PERMISSION`).
            API-key callers are not subject to this check.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "INSUFFICIENT_PERMISSION"
                  message: "You do not have permission to perform this action"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /sequenceSteps:
    get:
      operationId: listSequenceSteps
      summary: List sequence steps
      description: |
        Returns a paginated list of sequence steps. Supports filtering by step IDs or by sequence.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceSteps?page[size]=50' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by sequence:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceSteps?filter[sequence][id]=550e8400-e29b-41d4-a716-446655440000' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by IDs:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceSteps?filter[id]=UUID1,UUID2' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - SequenceSteps
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageAfter"
        - $ref: "#/components/parameters/PageBefore"
        - $ref: "#/components/parameters/FilterId"
        - name: filter[sequence][id]
          in: query
          description: Filter steps belonging to a specific sequence
          required: false
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline (`sequence`, `template`) or computed fields to include (`analytics`). Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [sequence, template, analytics]
            maxItems: 3
          style: form
          explode: false
          example: [analytics]
        - $ref: "#/components/parameters/FilterUpdatedAtGte"
        - $ref: "#/components/parameters/FilterUpdatedAtLt"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SequenceStep"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
              example:
                data:
                  - id: "aa0e8400-e29b-41d4-a716-446655440030"
                    order: 0
                    interval: null
                    action: "auto_email"
                    note: "Initial outreach email"
                    sequence:
                      id: "550e8400-e29b-41d4-a716-446655440000"
                      _href: "/v1/sequences/550e8400-e29b-41d4-a716-446655440000"
                    template:
                      id: "ee0e8400-e29b-41d4-a716-446655440080"
                      _href: "/v1/emailTemplate/ee0e8400-e29b-41d4-a716-446655440080"
                    hasAbVariants: true
                    createdAt: "2025-10-01T10:00:00.000Z"
                    updatedAt: "2025-10-01T10:00:00.000Z"
                  - id: "aa0e8400-e29b-41d4-a716-446655440031"
                    order: 1
                    interval: 4320
                    action: "call"
                    note: null
                    sequence:
                      id: "550e8400-e29b-41d4-a716-446655440000"
                      _href: "/v1/sequences/550e8400-e29b-41d4-a716-446655440000"
                    template: null
                    hasAbVariants: false
                    createdAt: "2025-10-01T10:00:00.000Z"
                    updatedAt: "2025-10-01T10:00:00.000Z"
                links:
                  first: "https://partner-api.nooks.in/v1/sequenceSteps?page[size]=50"
                  prev: null
                  next: "https://partner-api.nooks.in/v1/sequenceSteps?page[size]=50&page[after]=eyJpZCI6ImFhMGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAzMSIsInYiOjF9"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /sequenceSteps/{id}:
    get:
      operationId: getSequenceStep
      summary: Get sequence step by ID
      description: |
        Returns a single sequence step by its unique identifier.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440030' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - SequenceSteps
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the sequence step
          schema:
            type: string
            format: uuid
          example: "aa0e8400-e29b-41d4-a716-446655440030"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline (`sequence`, `template`) or computed fields to include (`analytics`). Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [sequence, template, analytics]
            maxItems: 3
          style: form
          explode: false
          example: [analytics]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SequenceStep"
              example:
                id: "aa0e8400-e29b-41d4-a716-446655440030"
                order: 0
                interval: null
                action: "auto_email"
                note: "Initial outreach email"
                sequence:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  _href: "/v1/sequences/550e8400-e29b-41d4-a716-446655440000"
                template:
                  id: "ee0e8400-e29b-41d4-a716-446655440080"
                  _href: "/v1/emailTemplate/ee0e8400-e29b-41d4-a716-446655440080"
                hasAbVariants: true
                analytics:
                  email:
                    delivered: 412
                    opened: 198
                    clicked: 41
                    replied: 23
                    bounced: 7
                    unsubscribed: 2
                  calls: null
                  linkedIn: null
                createdAt: "2025-10-01T10:00:00.000Z"
                updatedAt: "2025-10-01T10:00:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /emailTemplate/{id}:
    get:
      operationId: getEmailTemplate
      summary: Get email template by ID
      description: |
        Returns the full content of a single email template by its unique identifier.
        Template IDs are typically discovered via the `template` reference on a sequence step
        (use `GET /v1/sequenceSteps/{id}?include=template` to inline the template DTO directly).

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/emailTemplate/ee0e8400-e29b-41d4-a716-446655440080' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - EmailTemplates
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the email template
          schema:
            type: string
            format: uuid
          example: "ee0e8400-e29b-41d4-a716-446655440080"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"
              example:
                id: "ee0e8400-e29b-41d4-a716-446655440080"
                name: "Initial outreach"
                subject: "Quick question, {{firstName}}"
                htmlBody: "<p>Hi {{firstName}},</p><p>...</p>"
                source: "manual"
                archived: false
                order: 0
                owner:
                  id: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
                  _href: "/v1/users/KKLvN5wQoghWFwUvC75CZ12QM7I3"
                privacy: "team_editable"
                createdAt: "2025-10-01T10:00:00.000Z"
                updatedAt: "2025-10-01T10:00:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /users:
    get:
      operationId: listUsers
      summary: List users
      description: |
        Returns a paginated list of users in the workspace. Only users with active seat assignments are returned.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/users?page[size]=50' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by email:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/users?filter[email]=jane@example.com' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by CRM id — looks up the Nooks user mapped to the given external
        id in the connected CRM (e.g. a Salesforce `User.Id` / `OwnerId`).
        Returns an empty list if no Nooks user is mapped to that id:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/users?filter[crmId]=0051a000000XyzABC' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageAfter"
        - $ref: "#/components/parameters/PageBefore"
        - name: filter[name]
          in: query
          description: Filter users by exact name match
          required: false
          schema:
            type: string
          example: "Jane Doe"
        - name: filter[email]
          in: query
          description: Filter users by exact email match.
          required: false
          schema:
            type: string
            format: email
          example: "jane@example.com"
        - name: filter[crmId]
          in: query
          description: >
            Filter to the Nooks user mapped to the given id in the customer's
            CRM (e.g. a Salesforce User.Id or OwnerId). Resolved via the
            workspace's CRM user mappings. Returns an empty list if no Nooks
            user is mapped to the given id.
          required: false
          schema:
            type: string
          example: "0051a000000XyzABC"
        - $ref: "#/components/parameters/FilterUpdatedAtGte"
        - $ref: "#/components/parameters/FilterUpdatedAtLt"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
              example:
                data:
                  - id: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
                    name: "Jane Doe"
                    email: "jane@example.com"
                    crmId: "0051a000000XyzABC"
                    createdAt: "2025-09-29T22:10:51.271Z"
                    updatedAt: "2025-10-07T20:42:17.281Z"
                  - id: "1erKK6gEL7ZUDFPEjCiHfV02fFD3"
                    name: "John Smith"
                    email: "john@example.com"
                    crmId: null
                    createdAt: "2025-10-06T14:39:35.322Z"
                    updatedAt: "2026-02-27T22:04:32.536Z"
                links:
                  first: "https://partner-api.nooks.in/v1/users?page[size]=50"
                  prev: null
                  next: "https://partner-api.nooks.in/v1/users?page[size]=50&page[after]=eyJpZCI6IjFlcktLNmdFTDdaVURGUEVqQ2lIZlYwMmZGRDMiLCJ2IjoxfQ"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /users/{id}:
    get:
      operationId: getUser
      summary: Get user by ID
      description: |
        Returns a single user by their unique identifier. Returns 404 if the user does not exist or does not have a seat assignment in the workspace.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/users/KKLvN5wQoghWFwUvC75CZ12QM7I3' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Users
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the user
          schema:
            type: string
          example: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
              example:
                id: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
                name: "Jane Doe"
                email: "jane@example.com"
                crmId: "0051a000000XyzABC"
                createdAt: "2025-09-29T22:10:51.271Z"
                updatedAt: "2025-10-07T20:42:17.281Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /sequenceStates:
    get:
      operationId: listSequenceStates
      summary: List sequence states
      description: |
        Returns a paginated list of sequence states (enrollments). Supports filtering by sequence, prospect, account, and state.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceStates?page[size]=50' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by sequence:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceStates?filter[sequence][id]=550e8400-e29b-41d4-a716-446655440000' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by account (joins through prospect):
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceStates?filter[account][id]=990e8400-e29b-41d4-a716-446655440099' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by state:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceStates?filter[state]=active,paused' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - SequenceStates
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageAfter"
        - $ref: "#/components/parameters/PageBefore"
        - name: filter[sequence][id]
          in: query
          description: Filter by sequence ID
          required: false
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: filter[prospect][id]
          in: query
          description: Filter by prospect ID
          required: false
          schema:
            type: string
            format: uuid
          example: "770e8400-e29b-41d4-a716-446655440003"
        - name: filter[account][id]
          in: query
          description: Filter by account ID (matches the prospect's account).
          required: false
          schema:
            type: string
            format: uuid
          example: "990e8400-e29b-41d4-a716-446655440099"
        - name: filter[state]
          in: query
          description: "Filter by state (comma-separated). Valid values: active, paused, finished"
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [active, paused, finished]
          style: form
          explode: false
          example: [active, paused]
        - name: include
          in: query
          description: "Comma-separated relations to expand inline. Valid values: `sequence`, `prospect`, `creator`, `sequenceStep`. Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [sequence, prospect, creator, sequenceStep]
            maxItems: 3
          style: form
          explode: false
          example: [sequence, prospect]
        - $ref: "#/components/parameters/FilterUpdatedAtGte"
        - $ref: "#/components/parameters/FilterUpdatedAtLt"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SequenceState"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
              example:
                data:
                  - id: "880e8400-e29b-41d4-a716-446655440010"
                    state: "active"
                    sequence:
                      id: "550e8400-e29b-41d4-a716-446655440000"
                      _href: "/v1/sequences/550e8400-e29b-41d4-a716-446655440000"
                    prospect:
                      id: "770e8400-e29b-41d4-a716-446655440003"
                      _href: "/v1/prospects/770e8400-e29b-41d4-a716-446655440003"
                    account:
                      id: "990e8400-e29b-41d4-a716-446655440099"
                      _href: "/v1/accounts/990e8400-e29b-41d4-a716-446655440099"
                    sequenceStep:
                      id: "aa0e8400-e29b-41d4-a716-446655440030"
                      _href: "/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440030"
                    creator:
                      id: "660e8400-e29b-41d4-a716-446655440001"
                      _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                    createdAt: "2025-11-01T10:00:00.000Z"
                    updatedAt: "2025-11-05T14:30:00.000Z"
                links:
                  first: "https://partner-api.nooks.in/v1/sequenceStates?page[size]=50"
                  prev: null
                  next: "https://partner-api.nooks.in/v1/sequenceStates?page[size]=50&page[after]=eyJpZCI6Ijg4MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAxMCIsInYiOjF9"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createSequenceState
      summary: Enroll a prospect in a sequence
      description: |
        Enrolls a prospect into a sequence, creating a new sequence state.

        When enrolling on behalf of a user, respect the sequence's `privacy`
        (returned by `GET /v1/sequences/{id}`): enroll into `private` sequences
        only on behalf of their owner.

        Example:
        ```bash
        curl -X POST 'https://partner-api.nooks.in/v1/sequenceStates' \
          -H "Authorization: Bearer nooks-api-..." \
          -H "Content-Type: application/json" \
          -d '{
            "data": {
              "prospect": { "id": "770e8400-e29b-41d4-a716-446655440003" },
              "sequence": { "id": "550e8400-e29b-41d4-a716-446655440000" },
              "owner": { "id": "KKLvN5wQoghWFwUvC75CZ12QM7I3" },
              "mailbox": { "id": "bb0e8400-e29b-41d4-a716-446655440040" },
              "emailOverrides": {
                "aa0e8400-e29b-41d4-a716-446655440050": {
                  "subject": "Custom subject for step",
                  "body": "<p>Custom email body</p>"
                }
              }
            }
          }'
        ```
      tags:
        - SequenceStates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for enrolling a prospect in a sequence
              properties:
                data:
                  type: object
                  additionalProperties: false
                  properties:
                    prospect:
                      type: object
                      description: The prospect to enroll
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: ID of the prospect
                          example: "770e8400-e29b-41d4-a716-446655440003"
                      required:
                        - id
                    sequence:
                      type: object
                      description: The sequence to enroll the prospect in
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: ID of the sequence
                          example: "550e8400-e29b-41d4-a716-446655440000"
                      required:
                        - id
                    owner:
                      type: object
                      description: The user who owns this enrollment
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          minLength: 1
                          maxLength: 128
                          pattern: "^[A-Za-z0-9_-]{1,128}$"
                          description: ID of the owner user (Firebase UID)
                          example: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
                      required:
                        - id
                    state:
                      type: string
                      enum:
                        - active
                        - paused
                      default: "active"
                      description: Initial state of the enrollment
                      example: "active"
                    mailbox:
                      type: object
                      description: The mailbox to use for email outreach (optional, defaults to user's primary email)
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: ID of the mailbox
                          example: "bb0e8400-e29b-41d4-a716-446655440040"
                      required:
                        - id
                    scheduledAt:
                      type: string
                      format: date-time
                      description: When to start the sequence (ISO 8601 with timezone offset). If omitted, starts immediately.
                      example: "2025-12-01T09:00:00-05:00"
                    emailOverrides:
                      type: object
                      description: |
                        Per-step email content overrides. Keys are sequence step IDs (UUIDs, obtainable via GET /sequenceSteps).
                        Values specify custom subject and/or body for that step. Omitted fields use the step's template defaults.
                        Returns 422 if any key is not a valid step ID within the target sequence.
                      propertyNames:
                        # Keys are validated against this UUID pattern by the
                        # API (Zod `z.record(z.string().uuid(), ...)`); a
                        # non-UUID key returns 400 INVALID_REQUEST_PARAMETERS.
                        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                      additionalProperties:
                        type: object
                        properties:
                          subject:
                            type: string
                            description: Custom email subject line
                            example: "Custom subject for this prospect"
                          body:
                            type: string
                            description: Custom email body (HTML)
                            example: "<p>Custom email body</p>"
                        additionalProperties: false
                      example:
                        "aa0e8400-e29b-41d4-a716-446655440050":
                          subject: "Custom subject for step"
                          body: "<p>Custom email body</p>"
                    enrich:
                      type: object
                      additionalProperties: false
                      description: |
                        Opt this enrollment into data enrichment, per channel. If the workspace forces
                        enrichment for a channel, that channel is enriched regardless of what you pass
                        here; a `false` or omitted channel simply defers to the workspace setting.
                      properties:
                        phoneNumbers:
                          type: boolean
                          description: Enrich the prospect's phone numbers on enrollment.
                          example: true
                        emails:
                          type: boolean
                          description: Enrich the prospect's email addresses on enrollment.
                          example: false
                  required:
                    - prospect
                    - sequence
                    - owner
              required:
                - data
            example:
              data:
                prospect:
                  id: "770e8400-e29b-41d4-a716-446655440003"
                sequence:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                owner:
                  id: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
                state: "active"
                mailbox:
                  id: "bb0e8400-e29b-41d4-a716-446655440040"
                emailOverrides:
                  "aa0e8400-e29b-41d4-a716-446655440050":
                    subject: "Custom subject for step"
                    body: "<p>Custom email body</p>"
                enrich:
                  phoneNumbers: true
                  emails: false
      responses:
        "201":
          description: Prospect successfully enrolled in sequence
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SequenceState"
              example:
                id: "880e8400-e29b-41d4-a716-446655440010"
                state: "active"
                createdAt: "2025-11-01T10:00:00.000Z"
                updatedAt: "2025-11-01T10:00:00.000Z"
                prospect:
                  id: "770e8400-e29b-41d4-a716-446655440003"
                  _href: "/v1/prospects/770e8400-e29b-41d4-a716-446655440003"
                sequence:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  _href: "/v1/sequences/550e8400-e29b-41d4-a716-446655440000"
                sequenceStep:
                  id: "aa0e8400-e29b-41d4-a716-446655440030"
                  _href: "/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440030"
                owner:
                  id: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
                  _href: "/v1/users/KKLvN5wQoghWFwUvC75CZ12QM7I3"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Conflict - prospect is already enrolled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "CONFLICT"
                  message: "Conflict"
                  details:
                    message: "Prospect is already enrolled in this sequence"
        "422":
          description: |
            Unprocessable entity. Possible causes:
            - Enrollment prerequisites not met (e.g. prospect missing a valid email)
            - `emailOverrides` contains step IDs that do not belong to the target sequence
            - `owner.id` is not a user in this workspace (use an id from `GET /v1/users`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingEmail:
                  summary: Prospect missing valid email
                  value:
                    error:
                      code: "UNPROCESSABLE_ENTITY"
                      message: "Unprocessable entity"
                      details:
                        message: "Prospect does not have a valid primary email"
                ownerNotFound:
                  summary: Owner is not a user in the workspace
                  value:
                    error:
                      code: "UNPROCESSABLE_ENTITY"
                      message: "Unprocessable entity"
                      details:
                        message: "Owner user KKLvN5wQoghWFwUvC75CZ12QM7I3 not found in this workspace. Use a user id from GET /v1/users."
                invalidStepIds:
                  summary: emailOverrides references invalid step IDs
                  value:
                    error:
                      code: "UNPROCESSABLE_ENTITY"
                      message: "Unprocessable entity"
                      details:
                        message: "emailOverrides contains step IDs not in sequence 550e8400-...: aa0e8400-..., bb0e8400-..."
        "500":
          $ref: "#/components/responses/InternalError"

  /sequenceStates/{id}:
    get:
      operationId: getSequenceState
      summary: Get sequence state by ID
      description: |
        Returns a single sequence state by its unique identifier.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/sequenceStates/880e8400-e29b-41d4-a716-446655440010' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - SequenceStates
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the sequence state
          schema:
            type: string
            format: uuid
          example: "880e8400-e29b-41d4-a716-446655440010"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline. Valid values: `sequence`, `prospect`, `creator`, `sequenceStep`. Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [sequence, prospect, creator, sequenceStep]
            maxItems: 3
          style: form
          explode: false
          example: [sequence, prospect]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SequenceState"
              example:
                id: "880e8400-e29b-41d4-a716-446655440010"
                state: "active"
                sequence:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  _href: "/v1/sequences/550e8400-e29b-41d4-a716-446655440000"
                prospect:
                  id: "770e8400-e29b-41d4-a716-446655440003"
                  _href: "/v1/prospects/770e8400-e29b-41d4-a716-446655440003"
                account:
                  id: "990e8400-e29b-41d4-a716-446655440099"
                  _href: "/v1/accounts/990e8400-e29b-41d4-a716-446655440099"
                sequenceStep:
                  id: "aa0e8400-e29b-41d4-a716-446655440030"
                  _href: "/v1/sequenceSteps/aa0e8400-e29b-41d4-a716-446655440030"
                creator:
                  id: "660e8400-e29b-41d4-a716-446655440001"
                  _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                createdAt: "2025-11-01T10:00:00.000Z"
                updatedAt: "2025-11-05T14:30:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deleteSequenceState
      summary: Remove prospect from sequence
      description: |
        Removes a prospect from a sequence by deleting the sequence state. This unenrolls the prospect and cancels any pending tasks.

        Example:
        ```bash
        curl -X DELETE 'https://partner-api.nooks.in/v1/sequenceStates/880e8400-e29b-41d4-a716-446655440010' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - SequenceStates
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the sequence state to remove
          schema:
            type: string
            format: uuid
          example: "880e8400-e29b-41d4-a716-446655440010"
      responses:
        "204":
          description: Prospect successfully removed from sequence
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /sequenceStates/{id}/actions/finish:
    post:
      operationId: finishSequenceState
      summary: Finish a sequence state
      description: |
        Marks a sequence state as finished (complete). This stops the prospect's progression
        through the sequence and performs cleanup of pending tasks.

        This endpoint is idempotent: returns 204 even if the sequence state is already finished.

        Example:
        ```bash
        curl -X POST 'https://partner-api.nooks.in/v1/sequenceStates/880e8400-e29b-41d4-a716-446655440003/actions/finish' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - SequenceStates
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the sequence state
          schema:
            type: string
            format: uuid
          example: "880e8400-e29b-41d4-a716-446655440003"
      responses:
        "204":
          description: Sequence state finished (or already finished)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /prospects:
    get:
      operationId: listProspects
      summary: List prospects
      description: |
        Returns a paginated list of prospects. Supports filtering by prospect IDs, sequence enrollment, or account.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/prospects?page[size]=50' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by specific IDs:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/prospects?filter[id]=UUID1,UUID2' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by sequence enrollment:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/prospects?filter[sequence][id]=550e8400-e29b-41d4-a716-446655440000' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by account:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/prospects?filter[account][id]=990e8400-e29b-41d4-a716-446655440099' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Prospects
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageAfter"
        - $ref: "#/components/parameters/PageBefore"
        - $ref: "#/components/parameters/FilterId"
        - name: filter[name]
          in: query
          description: Filter prospects by exact name match
          required: false
          schema:
            type: string
          example: "Jane Doe"
        - name: filter[title]
          in: query
          description: Filter prospects by exact job title match
          required: false
          schema:
            type: string
          example: "VP of Sales"
        - name: filter[primaryEmail]
          in: query
          description: >-
            Comma-separated list of email addresses to filter by (up to 10).
            Returns prospects whose primary email matches any of the provided values.
          required: false
          schema:
            type: string
          example: "jane@acme.com,john@acme.com"
        - name: filter[crmId]
          in: query
          description: Filter prospects by CRM external ID
          required: false
          schema:
            type: string
          example: "003ABC123DEF456"
        - name: filter[sequence][id]
          in: query
          description: Filter prospects enrolled in a specific sequence
          required: false
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: filter[account][id]
          in: query
          description: Filter prospects associated with a specific account
          required: false
          schema:
            type: string
            format: uuid
          example: "990e8400-e29b-41d4-a716-446655440099"
        - name: filter[updatedAt][gte]
          in: query
          description: Filter prospects updated at or after this timestamp (ISO 8601)
          required: false
          schema:
            type: string
            format: date-time
          example: "2026-03-01T00:00:00Z"
        - name: filter[updatedAt][lte]
          in: query
          description: Filter prospects updated at or before this timestamp (ISO 8601)
          required: false
          schema:
            type: string
            format: date-time
          example: "2026-03-31T23:59:59Z"
        - name: include
          in: query
          description: |
            Comma-separated relations to expand inline. Valid values: `sequenceStates`. Max 3.
            Note: `account` is not yet includable — fetch via the `_href` on the `account` reference instead.
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [sequenceStates]
            maxItems: 3
          style: form
          explode: false
          example: [sequenceStates]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prospect"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
              example:
                data:
                  - id: "990e8400-e29b-41d4-a716-446655440020"
                    name: "Jane Doe"
                    firstName: "Jane"
                    lastName: "Doe"
                    title: "VP of Engineering"
                    primaryEmail: "jane@acme.com"
                    linkedInUrl: "https://linkedin.com/in/janedoe"
                    crmId: "003ABC123DEF456"
                    account:
                      id: "aa0e8400-e29b-41d4-a716-446655440030"
                      _href: "/v1/accounts/aa0e8400-e29b-41d4-a716-446655440030"
                    sequenceStates:
                      - id: "880e8400-e29b-41d4-a716-446655440010"
                        _href: "/v1/sequenceStates/880e8400-e29b-41d4-a716-446655440010"
                    createdAt: "2025-10-01T10:00:00.000Z"
                    updatedAt: "2025-11-15T14:30:00.000Z"
                links:
                  first: "https://partner-api.nooks.in/v1/prospects?page[size]=50"
                  prev: null
                  next: "https://partner-api.nooks.in/v1/prospects?page[size]=50&page[after]=eyJpZCI6Ijk5MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAyMCIsInYiOjF9"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /integrations/prospects/sync:
    post:
      operationId: syncProspects
      summary: Sync prospects from CRM
      description: |
        Syncs up to 100 CRM records (Salesforce or HubSpot) into Nooks prospects by `externalId`, creating them if they don't already exist. Per-record outcomes are returned in `results` and `errors`.

        Example:
        ```bash
        curl -X POST 'https://partner-api.nooks.in/v1/integrations/prospects/sync' \
          -H "Authorization: Bearer nooks-api-..." \
          -H "Content-Type: application/json" \
          -d '{
            "data": {
              "type": "salesforce",
              "records": ["003ABC123DEF456", "003XYZ789GHI012"]
            }
          }'
        ```
      tags:
        - Prospects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncProspectsRequest"
            example:
              data:
                type: "salesforce"
                records:
                  - "003ABC123DEF456"
                  - "003XYZ789GHI012"
      responses:
        "200":
          description: Request processed. Inspect `results` and `errors` for per-record outcomes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncProspectsResponse"
              example:
                results:
                  - externalId: "003ABC123DEF456"
                    prospectId: "990e8400-e29b-41d4-a716-446655440020"
                    created: true
                errors:
                  - externalId: "003XYZ789GHI012"
                    code: "NOT_FOUND_IN_CRM"
                    message: "No record found in salesforce for externalId 003XYZ789GHI012"
        "400":
          description: Malformed body (`Error`), or the CRM isn't usable (`NO_CRM_CONNECTION`). See the `NoCrmConnectionError` schema.
          content:
            application/json:
              schema:
                # anyOf, not oneOf: NoCrmConnectionError is a specialization of
                # the standard Error envelope (same `error.{code,message}` plus
                # `integrationType`), so a NoCrmConnectionError body also
                # validates as a plain Error. oneOf requires matching exactly
                # one and would (correctly) reject that overlap.
                anyOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/NoCrmConnectionError"
              example:
                error:
                  code: "NO_CRM_CONNECTION"
                  message: "Your salesforce connection is no longer valid. Reconnect salesforce in Nooks."
                  integrationType: "salesforce"
                traceId: "6b1c9f2e8d3a4c5b7e9f0a1d2c3b4a5e"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /prospects/{id}:
    get:
      operationId: getProspect
      summary: Get prospect by ID
      description: |
        Returns a single prospect by its unique identifier.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/prospects/990e8400-e29b-41d4-a716-446655440020' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Prospects
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the prospect
          schema:
            type: string
            format: uuid
          example: "990e8400-e29b-41d4-a716-446655440020"
        - name: include
          in: query
          description: |
            Comma-separated relations to expand inline. Valid values: `sequenceStates`. Max 3.
            Note: `account` is not yet includable — fetch via the `_href` on the `account` reference instead.
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [sequenceStates]
            maxItems: 3
          style: form
          explode: false
          example: [sequenceStates]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prospect"
              example:
                id: "990e8400-e29b-41d4-a716-446655440020"
                name: "Jane Doe"
                firstName: "Jane"
                lastName: "Doe"
                title: "VP of Engineering"
                primaryEmail: "jane@acme.com"
                linkedInUrl: "https://linkedin.com/in/janedoe"
                account:
                  id: "aa0e8400-e29b-41d4-a716-446655440030"
                  _href: "/v1/accounts/aa0e8400-e29b-41d4-a716-446655440030"
                sequenceStates:
                  - id: "880e8400-e29b-41d4-a716-446655440010"
                    _href: "/v1/sequenceStates/880e8400-e29b-41d4-a716-446655440010"
                createdAt: "2025-10-01T10:00:00.000Z"
                updatedAt: "2025-11-15T14:30:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /prospects/{id}/notes:
    post:
      operationId: createProspectNote
      summary: Create a prospect note
      description: |
        Creates a CRM note on a CRM-backed prospect. The prospect must be
        sourced from Salesforce or HubSpot, and `data.integrationType` must
        match that CRM source.

        Example:
        ```bash
        curl -X POST 'https://partner-api.nooks.in/v1/prospects/990e8400-e29b-41d4-a716-446655440020/notes' \
          -H "Authorization: Bearer nooks-api-..." \
          -H "Content-Type: application/json" \
          -d '{
            "data": {
              "text": "Follow up after legal review.",
              "integrationType": "salesforce"
            }
          }'
        ```
      tags:
        - Notes
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the prospect
          schema:
            type: string
            format: uuid
          example: "990e8400-e29b-41d4-a716-446655440020"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNoteRequest"
            example:
              data:
                text: "Follow up after legal review."
                integrationType: "salesforce"
      responses:
        "201":
          description: Note successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
              example:
                id: "bb0e8400-e29b-41d4-a716-446655440080"
                externalId: "00TABC123DEF456"
                text: "Follow up after legal review."
                associatedType: "prospect"
                associated:
                  id: "990e8400-e29b-41d4-a716-446655440020"
                  _href: "/v1/prospects/990e8400-e29b-41d4-a716-446655440020"
                integrationType: "salesforce"
                userExternalId: "005ABC123DEF456"
                userName: "Sam Seller"
                externalCreatedAt: "2026-07-09T16:00:00.000Z"
                externalUpdatedAt: "2026-07-09T16:00:00.000Z"
                createdAt: "2026-07-09T16:00:01.000Z"
                updatedAt: "2026-07-09T16:00:01.000Z"
        "400":
          description: Malformed body (`Error`), or the CRM isn't usable for the acting user (`NO_CRM_CONNECTION`). See the `NoCrmConnectionError` schema.
          content:
            application/json:
              schema:
                # anyOf, not oneOf: NoCrmConnectionError is a specialization of
                # the standard Error envelope (same `error.{code,message}` plus
                # `integrationType`), so a NoCrmConnectionError body also
                # validates as a plain Error. oneOf requires matching exactly
                # one and would (correctly) reject that overlap.
                anyOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/NoCrmConnectionError"
              example:
                error:
                  code: "NO_CRM_CONNECTION"
                  message: "The user this request acts as has no salesforce connection in Nooks. Connect salesforce for that user and try again — API-key requests act as a workspace admin."
                  integrationType: "salesforce"
                traceId: "6b1c9f2e8d3a4c5b7e9f0a1d2c3b4a5e"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: |
            Unprocessable entity. Possible causes:
            - `integrationType` does not match the prospect's CRM source
            - The CRM rejected the note creation request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "UNPROCESSABLE_ENTITY"
                  message: "Unprocessable entity"
                  details:
                    message: "integrationType must match the prospect source (hubspot)"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: |
        Returns a paginated list of accounts (companies) in the workspace.
        Supports filtering by indexed account columns.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/accounts?page[size]=50' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by domain:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/accounts?filter[domain]=acme.com' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Note: results are restricted to accounts sourced from a customer
        CRM (`salesforce`, `hubspot`).
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageAfter"
        - $ref: "#/components/parameters/PageBefore"
        - name: filter[id]
          in: query
          description: Comma-separated list of account UUIDs to fetch
          required: false
          schema:
            type: string
          example: "aa0e8400-e29b-41d4-a716-446655440030,bb0e8400-e29b-41d4-a716-446655440031"
        - name: filter[name]
          in: query
          description: Filter accounts by exact name match
          required: false
          schema:
            type: string
          example: "Acme Corp"
        - name: filter[domain]
          in: query
          description: Filter accounts by exact domain match
          required: false
          schema:
            type: string
          example: "acme.com"
        - name: filter[crmId]
          in: query
          description: Filter accounts by CRM external ID
          required: false
          schema:
            type: string
          example: "0014x00000ABCDEF"
        - $ref: "#/components/parameters/FilterUpdatedAtGte"
        - $ref: "#/components/parameters/FilterUpdatedAtLt"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
              example:
                data:
                  - id: "aa0e8400-e29b-41d4-a716-446655440030"
                    name: "Acme Corp"
                    domain: "acme.com"
                    numEmployees: 500
                    linkedInUrl: "https://linkedin.com/company/acme"
                    description: "B2B SaaS for the manufacturing sector."
                    createdAt: "2025-09-01T10:00:00.000Z"
                    updatedAt: "2025-11-15T14:30:00.000Z"
                links:
                  first: "https://partner-api.nooks.in/v1/accounts?page[size]=50"
                  prev: null
                  next: "https://partner-api.nooks.in/v1/accounts?page[size]=50&page[after]=eyJpZCI6ImFhMGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAzMCIsInYiOjF9"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /accounts/{id}:
    get:
      operationId: getAccount
      summary: Get account by ID
      description: |
        Returns a single account by its unique identifier.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/accounts/aa0e8400-e29b-41d4-a716-446655440030' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the account
          schema:
            type: string
            format: uuid
          example: "aa0e8400-e29b-41d4-a716-446655440030"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
              example:
                id: "aa0e8400-e29b-41d4-a716-446655440030"
                name: "Acme Corp"
                domain: "acme.com"
                numEmployees: 500
                linkedInUrl: "https://linkedin.com/company/acme"
                description: "B2B SaaS for the manufacturing sector."
                createdAt: "2025-09-01T10:00:00.000Z"
                updatedAt: "2025-11-15T14:30:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /accounts/{id}/notes:
    post:
      operationId: createAccountNote
      summary: Create an account note
      description: |
        Creates a CRM note on a CRM-backed account. The account must be
        sourced from Salesforce or HubSpot, and `data.integrationType` must
        match that CRM source.

        Example:
        ```bash
        curl -X POST 'https://partner-api.nooks.in/v1/accounts/aa0e8400-e29b-41d4-a716-446655440030/notes' \
          -H "Authorization: Bearer nooks-api-..." \
          -H "Content-Type: application/json" \
          -d '{
            "data": {
              "text": "Champion moved teams; confirm new buying committee.",
              "integrationType": "hubspot"
            }
          }'
        ```
      tags:
        - Notes
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the account
          schema:
            type: string
            format: uuid
          example: "aa0e8400-e29b-41d4-a716-446655440030"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNoteRequest"
            example:
              data:
                text: "Champion moved teams; confirm new buying committee."
                integrationType: "hubspot"
      responses:
        "201":
          description: Note successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
              example:
                id: "cc0e8400-e29b-41d4-a716-446655440081"
                externalId: "28491827364"
                text: "Champion moved teams; confirm new buying committee."
                associatedType: "account"
                associated:
                  id: "aa0e8400-e29b-41d4-a716-446655440030"
                  _href: "/v1/accounts/aa0e8400-e29b-41d4-a716-446655440030"
                integrationType: "hubspot"
                userExternalId: null
                userName: "Sam Seller"
                externalCreatedAt: "2026-07-09T16:00:00.000Z"
                externalUpdatedAt: "2026-07-09T16:00:00.000Z"
                createdAt: "2026-07-09T16:00:01.000Z"
                updatedAt: "2026-07-09T16:00:01.000Z"
        "400":
          description: Malformed body (`Error`), or the CRM isn't usable for the acting user (`NO_CRM_CONNECTION`). See the `NoCrmConnectionError` schema.
          content:
            application/json:
              schema:
                # anyOf, not oneOf: NoCrmConnectionError is a specialization of
                # the standard Error envelope (same `error.{code,message}` plus
                # `integrationType`), so a NoCrmConnectionError body also
                # validates as a plain Error. oneOf requires matching exactly
                # one and would (correctly) reject that overlap.
                anyOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/NoCrmConnectionError"
              example:
                error:
                  code: "NO_CRM_CONNECTION"
                  message: "The user this request acts as has no hubspot connection in Nooks. Connect hubspot for that user and try again — API-key requests act as a workspace admin."
                  integrationType: "hubspot"
                traceId: "6b1c9f2e8d3a4c5b7e9f0a1d2c3b4a5e"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: |
            Unprocessable entity. Possible causes:
            - `integrationType` does not match the account's CRM source
            - The CRM rejected the note creation request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "UNPROCESSABLE_ENTITY"
                  message: "Unprocessable entity"
                  details:
                    message: "CRM rejected the note creation request"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /mailboxes:
    get:
      operationId: listMailboxes
      summary: List mailboxes
      description: |
        Returns a paginated list of mailboxes (email aliases).

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/mailboxes?page[size]=50' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by user:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/mailboxes?filter[userId]=KKLvN5wQoghWFwUvC75CZ12QM7I3' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Mailboxes
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageAfter"
        - $ref: "#/components/parameters/PageBefore"
        - name: filter[userId]
          in: query
          description: Filter mailboxes belonging to a specific user (Firebase UID)
          required: false
          schema:
            type: string
            minLength: 1
          example: "KKLvN5wQoghWFwUvC75CZ12QM7I3"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline. Valid values: `user`. Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [user]
            maxItems: 3
          style: form
          explode: false
          example: [user]
        - $ref: "#/components/parameters/FilterUpdatedAtGte"
        - $ref: "#/components/parameters/FilterUpdatedAtLt"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Mailbox"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
              example:
                data:
                  - id: "bb0e8400-e29b-41d4-a716-446655440040"
                    email: "jane@acme.com"
                    isDefault: true
                    user:
                      id: "660e8400-e29b-41d4-a716-446655440001"
                      _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                    createdAt: "2025-10-01T10:00:00.000Z"
                    updatedAt: "2025-11-15T14:30:00.000Z"
                  - id: "cc0e8400-e29b-41d4-a716-446655440041"
                    email: "jane.alt@acme.com"
                    isDefault: false
                    user:
                      id: "660e8400-e29b-41d4-a716-446655440001"
                      _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                    createdAt: "2025-10-05T12:00:00.000Z"
                    updatedAt: "2025-11-20T16:00:00.000Z"
                links:
                  first: "https://partner-api.nooks.in/v1/mailboxes?page[size]=50"
                  prev: null
                  next: "https://partner-api.nooks.in/v1/mailboxes?page[size]=50&page[after]=eyJpZCI6ImNjMGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDA0MSIsInYiOjF9"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /mailboxes/{id}:
    get:
      operationId: getMailbox
      summary: Get mailbox by ID
      description: |
        Returns a single mailbox by its unique identifier.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/mailboxes/bb0e8400-e29b-41d4-a716-446655440040' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Mailboxes
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the mailbox
          schema:
            type: string
            format: uuid
          example: "bb0e8400-e29b-41d4-a716-446655440040"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline. Valid values: `user`. Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [user]
            maxItems: 3
          style: form
          explode: false
          example: [user]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mailbox"
              example:
                id: "bb0e8400-e29b-41d4-a716-446655440040"
                email: "jane@acme.com"
                isDefault: true
                user:
                  id: "660e8400-e29b-41d4-a716-446655440001"
                  _href: "/v1/users/660e8400-e29b-41d4-a716-446655440001"
                createdAt: "2025-10-01T10:00:00.000Z"
                updatedAt: "2025-11-15T14:30:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /emails:
    get:
      operationId: listEmails
      summary: List emails
      description: |
        Returns a paginated list of emails. Supports filtering by ID, prospect, task, status, and updatedAt range.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/emails?page[size]=50' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by prospect:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/emails?filter[prospect][id]=770e8400-e29b-41d4-a716-446655440003' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by task (the sequence task that triggered the email):
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/emails?filter[task][id]=990e8400-e29b-41d4-a716-446655440099' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by account (joins through the email's prospect):
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/emails?filter[account][id]=990e8400-e29b-41d4-a716-446655440099' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by delivery status:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/emails?filter[status]=sent,failed' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by updatedAt range:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/emails?filter[updatedAt][gte]=2025-01-01T00:00:00Z' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Emails
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageAfter"
        - $ref: "#/components/parameters/PageBefore"
        - $ref: "#/components/parameters/FilterId"
        - name: filter[prospect][id]
          in: query
          description: Filter emails for a specific prospect
          required: false
          schema:
            type: string
            format: uuid
          example: "770e8400-e29b-41d4-a716-446655440003"
        - name: filter[task][id]
          in: query
          description: Filter emails by the sequence task they were sent for. Matches Email.sepTaskId (null for emails unrelated to a sequence task).
          required: false
          schema:
            type: string
            format: uuid
          example: "990e8400-e29b-41d4-a716-446655440099"
        - name: filter[account][id]
          in: query
          description: |
            Filter emails associated with a specific account. Joins through
            the email's prospect (`Prospect.accountId`); rows whose prospect
            has no account, or rows with no prospect, are excluded.
          required: false
          schema:
            type: string
            format: uuid
          example: "990e8400-e29b-41d4-a716-446655440099"
        - name: filter[status]
          in: query
          description: |
            Filter emails by delivery status. Accepts a comma-separated list;
            rows matching any of the provided statuses are returned. Note that
            legacy rows may carry statuses outside this set (e.g. `delivered`,
            `sent_from_gmail`) — filtering is case-sensitive and exact, so
            those rows will not match `sent`.
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [draft, in_progress, sent, failed]
          style: form
          explode: false
          example: [sent, failed]
        - $ref: "#/components/parameters/FilterUpdatedAtGte"
        - $ref: "#/components/parameters/FilterUpdatedAtLt"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline. Valid values: `prospect`, `sequence`, `sequenceStep`. Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [prospect, sequence, sequenceStep]
            maxItems: 3
          style: form
          explode: false
          example: [prospect, sequence]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Email"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /emails/{id}:
    get:
      operationId: getEmail
      summary: Get email by ID
      description: |
        Returns a single email by its unique identifier.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/emails/550e8400-e29b-41d4-a716-446655440000' \
          -H "Authorization: Bearer nooks-api-..."
        ```
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the email
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: include
          in: query
          description: "Comma-separated relations to expand inline. Valid values: `prospect`, `sequence`, `sequenceStep`. Max 3."
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [prospect, sequence, sequenceStep]
            maxItems: 3
          style: form
          explode: false
          example: [prospect]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Email"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /calls:
    get:
      operationId: listCalls
      summary: List calls
      description: |
        Returns a paginated list of calls made on the Nooks SEP. Supports filtering by ID and updatedAt range.

        There is no fixed API-enforced historical lookback window for this
        endpoint. You can page through all retained Nooks SEP call records
        available in the workspace. Historical availability depends on when
        the workspace started using Nooks SEP and the workspace's retained call
        data. Use `filter[time]` to fetch by when the call occurred, or
        `filter[createdAt]` / `filter[updatedAt]` for ingestion and sync
        workflows.

        Example:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/calls?page[size]=50' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by updatedAt range:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/calls?filter[updatedAt][gte]=2025-01-01T00:00:00Z&filter[updatedAt][lt]=2026-01-01T00:00:00Z' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by IDs:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/calls?filter[id]=550e8400-e29b-41d4-a716-446655440000,660e8400-e29b-41d4-a716-446655440001' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by account:
        ```bash
        curl -X GET 'https://partner-api.nooks.in/v1/calls?filter[account][id]=990e8400-e29b-41d4-a716-446655440099' \
          -H "Authorization: Bearer nooks-api-..."
        ```

        Filter by owner (user who placed the call):
        ```bash
[...]
